.DS_Store
*.swp
*.swo
*~
*.bak

build/
DerivedData/
xcuserdata/
*.xcworkspace
!*.xcworkspace 
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcscheme
*.moved-aside
*.hmap

*.ipa
*.dSYM
*.dSYM.zip
*.log
*.tmp

Pods/
Podfile.lock 
Target Support Files/

.swiftpm/
.build/
Packages/
Package.resolved 


fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

Carthage/Build/